body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.tile {
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: transparent;
}

.tile.forest{
  background-color: green;
}

.tile.farm {
  background-color: red;
}